body {
    margin: 0px;
}
.card-img-top {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 150px !important;
}
.row {
    padding-top: 10px;
    padding-bottom: 10px;
}
.item-card-heading {
    color: rgb(0, 0, 0) !important;
}
.item-card-text {
    color: #282828 !important;
}
.container {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}
.card {
    margin-left: auto;
    margin-right: auto;
}
.row {
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
.col-3 {
    margin-left: 20px;
    margin-right: 20px;
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1300px !important;
    }
}
.card-title {
    height: 60px;
}
.img-fluid {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    height: 300px;
}
